# Glue config.
#
# Generally this file wants to be in ~/.glue/
# 	or at the root of the files.
#
#
# Configuration for local JIRA.
jira_project: "APPS"
jira_component: "Automated Findings"
jira_api_url: "https://jira.yourdomain.com/rest/api/2"
# This is auth for some environments ... need to find alternative.
jira_cookie: ""

pivotal_token: abc323234343431c5cd5f83
pivotal_api:  https://www.pivotaltracker.com/services/v5/projects/
pivotal_project: 18343407
